.flex {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.flex div {
    border: 1px solid black;
    margin-bottom: 10px;
}

.cl1,
.cl3 {
    flex-basis: 20%;
}

.cl2 {
    flex-basis: 50%;
}

.head {
    width: 100%;
}

video {
    height: 200px;
    width: 320px;
}


h1{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}
.z3{
    display: flex;
    flex-wrap: wrap;
}