@media (max-width:960px) {

    .burger-menu{
        display: none;
    }

    li{
        display: block;
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        background-color: rgb(137, 141, 200);
        width: 20%;
        margin-bottom: 2px;
    }

    label{
        font-weight: bold;
        word-spacing: 15px;
        text-align: left;
        display: block;
        padding: 10px;
        background-color: rgb(137, 141, 200);
        border: 1px solid black;
        margin-bottom: 2px;
        width: 20%;
    }

    input[type="checkbox"]:checked + label{
        content: "\2716";
    }
    
    input[type="checkbox"]:checked ~ .burger-menu{
        display: block;
    }
   
}